*
{ margin: 4px;
  padding: 4px;
}
body
{ background-color:purple;
  font-family:arial;
}
h1
{ color:blue;
  text-align:center;
  background-color:white;
}
p
{ background-color:yellow;
}
img
{ height:100 px
  width:100 px
}